<ion-content color="primary" padding>
  <form #form="ngForm" [formGroup]="loginFormGroup" (ngSubmit)="login(form)">
    <ion-grid>
      <ion-row justify-content-center>
        <div style="height: 15rem; width: 15rem; padding: 15% 0">
          Insira sua logo aqui
          <!-- <img src="../../assets/graphics/logo.png"> -->
        </div>
      </ion-row>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div padding>
            <ion-item color="transparent">
              <ion-label><ion-icon name="home"></ion-icon></ion-label>
              <ion-input formControlName="holder" type="number" color="light"
                          pattern="^(0|[1-9][0-9]*)$" placeholder="holder" required>
              </ion-input>
            </ion-item>
            <ion-item color="transparent">
              <ion-label><ion-icon name="contact"></ion-icon></ion-label>
              <ion-input formControlName="account" type="text" color="light" placeholder="account" required></ion-input>
            </ion-item>
            <ion-item color="transparent">
              <ion-label><ion-icon name="lock"></ion-icon></ion-label>
              <ion-input formControlName="password" type="password" color="light" placeholder="password" required></ion-input>
            </ion-item>
          </div>
          <div>
            <ion-row>
              <ion-col>
                <ion-item lines="none" color="transparent">
                  <ion-checkbox name="rememberMe" formControlName="rememberMe"></ion-checkbox>
                  <ion-label >Remember me</ion-label>
                </ion-item>
              </ion-col>
              <ion-col>
                <ion-button type="submit" color="light" [disabled]="form.invalid" shape="round">Login</ion-button>
              </ion-col>
            </ion-row>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>