<ion-header>
  <ion-toolbar color=primary>
    <ion-title center>Balance</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card >
    <ion-card-header>Details</ion-card-header>
    <ion-card-content color="secondary">
      <ion-list>
        <ion-item color=primary>
          <ion-label><ion-icon name="Wallet"></ion-icon> Available limit: </ion-label> {{available_limit}}
        </ion-item>
        <ion-item color=primary>
          <ion-label>Balance: </ion-label> {{balance}}
        </ion-item>
        <ion-item color=primary>
          <ion-label>Blocked amount: </ion-label>{{blocked_amount}}
        </ion-item>
        <ion-item color=primary>
          <ion-label>Limit: </ion-label>{{limit}}
        </ion-item>
    </ion-list>
    </ion-card-content>
    <ion-item lines="none" float-right>
      <ion-button color=primary (click)="closeModal()" shape="round" >Voltar</ion-button>
    </ion-item>
  </ion-card>
</ion-content>
