<ion-header>
  <ion-toolbar color="primary">
    <ion-title center>
      Dashboard
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="none">
    <ion-button (click)="showBalance()">balance</ion-button>
  </ion-item>
  <ion-item lines="none">
    <ion-button (click)="logout()">quit</ion-button>
</ion-item>
</ion-content>
